.navbar {
  width: 100%;
  height: 80px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.logo-text {
  color: white;
  font-size: 14px;
  font-family: 'Bodoni Moda', serif;
  font-weight: 900;
  letter-spacing: 0.67px;
  margin-left: 10px;
  text-align: center;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-item {
  color: white;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  cursor: pointer;
  white-space: nowrap;
  transition: color 0.3s ease;
}


/* for the hamburger icon */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 4px;
  background: white;
  transition: 0.3s;
}


.nav-links.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  background: black;
  padding: 20px 0;
  gap: 15px;
  align-items: center;
}

/* added for effect when clicking hamburger icon */
.bar.open:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.bar.open:nth-child(2) {
  opacity: 0;
}

.bar.open:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

/* for minimizing screen */
@media screen and (max-width: 868px) {
  .nav-links {
    display: none; 
  }

  .hamburger {
    display: flex; 
  }

  
  .nav-links.open {
    display: flex;
  }
}
